* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Roboto", Arial, sans-serif;
    color: var(--primary-font-color);
}
:root {
    --primary-bg-color: #343435;
    --primary-welcome-bg-color: #0f0f10;
    --secondary-welcome-bg-color: #151617;
    --primary-font-color: #f2f1ed;
    --secondary-font-color: #988345;
}

html {
    scroll-behavior: smooth
}

body {
    background: var(--primary-bg-color);
}

nav {
    display: flex;
    height: 6vh;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    padding-right: 1%;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    list-style: none;
    position: relative;

}
.nav-bar a {
    text-decoration: none;
    transition: color 0.5s ease;
    font-weight: 800;
    font-size: 1.5rem;

}

.nav-bar a:hover {
    color: var(--secondary-font-color);
}

.nav-bar .ver-separator {
    display: block;
    background-color: var(--primary-font-color);
    height: 50%;
    width: 5px;
    align-self: center;
    margin: 0 2%;
}

header {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 99vh;
    width: 100%;
    background-image: linear-gradient(to right, var(--primary-welcome-bg-color) 0%, var(--primary-welcome-bg-color) 50%, var(--secondary-welcome-bg-color) 50%, var(--secondary-welcome-bg-color) 100%);
    /* border-bottom: var(--secondary-font-color) 5px solid; */

}

#wrapper-main {
    display: flex;
    width: 100%;
    height: 100%;
}

.welcome-board {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

.welcome-board h1 {
    color: var(--secondary-font-color);
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.welcome-board h2 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: 3rem;
}

.welcome-board .hor-separator {
    display: block;
    background-color: var(--primary-font-color);
    height: 0.5rem;
    width: 9rem;
}

.wrapper-bottom {
    height: 10%;
    text-align: center;
    position: relative;
    bottom: 0;
}

.triangle {
    position: relative;
    display: inline-block;
    height: 3rem;
    width: 6rem;
    animation-name: arrow-sliding;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.triangle a span {
    animation: arrow-sliding;
    color: var(--primary-font-color);
    font-size: 6rem;
    position: relative;
    top: -1.5rem;
    opacity: 0.5;
}

@keyframes arrow-sliding {
    0% {top: 0; }
    100% {top: calc(90% - 3rem);}
}

.bottom-bar {
    width: 100%;
    height: 1vh;
    background-color: var(--secondary-font-color);
    position: sticky;
    position: -webkit-sticky;
    top: 6vh;
    display: block;
    z-index: 2;
}

main {
    width: 100%;
    position: relative;
}
#about {
    height: 100vh;
    width: 100%;
    background-color: #333;
    padding: 7vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .side-photo {
    flex: 1;
    padding: 5%;
    padding-top: 12%;
}   
#about .side-text {
    flex: 2;

    display: flex;
    flex-direction: column;
    padding: 15% 5%;
}

#about .side-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#about .side-text p {
    margin-top: 5%;
    text-align: justify;
}

#about .side-text .hor-separator {
    display: block;
    background-color: var(--primary-font-color);
    height: 0.3rem;
    width: 9rem;
    margin-top: 1rem;
}

#contact {
    display: flex;
    height: 25vh;
    width: 100%;
    background-color: var(--primary-welcome-bg-color);
    text-align: justify;
    position: relative;
    bottom: 0;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 800;
    box-sizing: border-box;
    padding-bottom: 1.5vh;
    border-top: var(--secondary-font-color) 0.5vh solid;
}

.icons {
    display: flex;
    height: 80%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.icons span {
    opacity: 0.4;
    height: 40px;
    font-size: 4rem;
    height: auto;
    transition: opacity 0.5s ease-in-out;
}

.icons span:hover {
    opacity: 0.8;
}

/* needed to not be partialy hidded behind fixed navbar */
#skills {
    padding-top: 7vh;
}

#skills .wrapper-bar {
    width: 100%;
    height: 60vh;
    background-color: var(--secondary-font-color);
    padding-top: 1rem;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0.5rem;
}



#skills .wrapper-bar h2 {
    font-size: 3rem;
    text-align: center;
    color: var(--primary-welcome-bg-color);
}

.flex-wrapper {
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
}
.flex-row {
    width: 100%;
    display: flex;
    
}

.flex-row .main-skills {
    flex-grow: 5;
    display:flex;

}

.flex-row .secondary-skills {
    flex-grow: 3;
    display: flex;
}
.main-skills {
    font-size: 3rem;
}
.secondary-skills {
    font-size: 2rem;
}

.skill {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 1rem;
}

.main-skills span {
    font-size: 8rem;
}
.secondary-skills span {
    font-size: 4rem;  
}

.main-skills .skill {
    width: 33%
}
.secondary-skills .skill {
    width: 20%;
}

.skill span {
    opacity: 0.8;
    color: var(--primary-welcome-bg-color);
    transition: opacity 0.2s ease-in-out;
}
.skill  span:hover {
    opacity: 1;
}
.skill span:hover + .skill-name h3{
    opacity: 1;
}

.skill span:hover+.skill-name h4 {
    opacity: 1;
}
.skill-name  h3{
    opacity: 0;
    color: var(--primary-welcome-bg-color);
    font-size: 3rem;
    transition: opacity 0.2s ease-in-out;
}
.skill-name h4 {
    opacity: 0;
    color: var(--primary-welcome-bg-color);
    font-size: 2rem;
    transition: opacity 0.2s ease-in-out;
}


#projects {
    padding-top: 10vh;
}

.main-grid {
    width: 90%;
    height: 80vh;
    display: grid;
    position: relative;
    left: 5%;
    margin-bottom: 10vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
    box-sizing: border-box;
}
.main-grid .project {
    background-size: cover;
    position: relative;
    background-position: center;
    z-index: 0;
    box-sizing: border-box;
    border: var(--secondary-font-color) 2px solid;
}

.main-grid .project-overlay-text {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    z-index: 1;
    
    opacity: 0;
    transition: opacity 0.2s ease-in-out
}

.main-grid .project:hover .project-overlay-text {
    opacity: 0.8;
}


.main-grid .project:nth-child(1) {
    background-image: url("graphics/to-do-project.jpg");
}
.main-grid .project:nth-child(2) {
    background-image: url("graphics/calculator-project.jpg");
}
.main-grid .project:nth-child(3) {
    background-image: url("graphics/thermometer-project.jpg");
}
.main-grid .project:nth-child(4) {
    background-image: url("graphics/cinema-project.jpg");
}
.main-grid .project:nth-child(5) {
    background-image: url("graphics/guest-list-project.jpg");
}
.main-grid .project:nth-child(6) {
    background-image: url("graphics/strava-analyser-project.jpg");
}


.project-overlay-text  span {
    font-size: 5rem;
    color: var(--secondary-font-color);
}

 .main-grid .project-overlay-text .demo, .git-code, .project-title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
 }

 .project-title {
    grid-column: 1 / 3;
    background-color: var(--secondary-font-color);
    
 }

 .main-grid .project-overlay-text .demo {
    background-color: var(--primary-welcome-bg-color);
 }

 .main-grid .project-overlay-text .git-code {
     background-color: var(--secondary-welcome-bg-color);
 }
